<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<link rel="stylesheet" href="\css\approvals\approvalList.css" type="text/css">
	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>문서함</h4>
					<p>결재처리가 완료된 전자결재 목록 페이지 입니다.</p>
				</div>
				<div class="breadcrumb-right">
					<span>문서함 > 목록조회</span>
				</div>
			</div>

			<div class="card_memberList">
				<table class="table table-hover">
					<thead>
						<tr>
							<td></td>
							<td>전자결재 제목</td>
							<td>기안자</td>
							<td>기안일</td>
							<td>종료일</td>
						</tr>
					</thead>
					<tbody>
						<th:block th:each=" approve, sts : ${approveList}">
							<tr
								th:onclick="|location.href='@{/approvals/readApprInfo(eaNo=${approve.eaNo})}'|">
								<td scope="col">[[${sts.count}]]</td>
								<td scope="col">[[${approve.title}]]</td>
								<td scope="col">[[${approve.drafterName}]]</td>
								<td scope="col">[[${#dates.format(approve.regDate, "yyyy년 MM월 dd일")}]]</td>
								<td scope="col">[[${#dates.format(approve.compDate, "yyyy년 MM월 dd일")}]]</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
