<div class="page-wrapper" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<<link rel="stylesheet" href="\css\approvals\createTemplateForm.css" type="text/css">
	<div class="body-page-wrapper">
		<div class="purple-background-container">
			<div class="breadcrumb">
				<div class="breadcrumb-left">
					<h4>전자결재 템플릿 생성</h4>
					<p>전자결재 템플릿 생성 페이지 입니다.</p>
				</div>
				<div class="breadcrumb-right">
					<span>템플릿 관리 > 전자결재 템플릿 생성</span>
				</div>
			</div>
			<div class="card_memberInsert">
				<div class="col-md-9">
					<form class="form-horizontal" name="insertForm"
						th:action="@{/approvals/createTemp}" method="post">
						<!-- 세큐리티 cors를 방지하는 기능  -->
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />

						<div class="form-group row">
							<label for="title"
								class="col-sm-3 text-end control-label col-form-label">제목</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="insertTitle"
									name="title" placeholder="템플릿 제목을 정해주세요" />
							</div>
						</div>
						<div class="form-group row">
							<label for="content"
								class="col-sm-3 text-end control-label col-form-label">내용</label>
							<div class="col-sm-9">
								<textarea class="form-control" id="content" name="content"></textarea>
							</div>
						</div>
						<!-- 등록 버튼 -->
						<div class="insert-btn">
							<button type="button" id="createButton" class="btn btn-primary">
							템플릿 등록</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"
		charset="utf-8"></script>
	<script>
		// 네이버 스마트 에디터 2.0 적용
		let oEditors = [];

		function smartEditor() {
			console.log("Naver SmartEditor를 사용");
			nhn.husky.EZCreator.createInIFrame({
				oAppRef : oEditors,
				elPlaceHolder : "content",
				sSkinURI : "/smarteditor/SmartEditor2Skin.html",
				fCreator : "createSEditor2"
			});
		}
		
		$(document).ready(function() {
			smartEditor();
			// createButton 클릭 이벤트 핸들러 등록
			$("#createButton").on("click", function(event) {
				submitPost(event);
			});
		});

		function submitPost(event) {
			event.preventDefault(); // 폼 제출 방지
			oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
			let title = document.getElementById("insertTitle").value;
			let content = document.getElementById("content").value;
			if (title == '' || title == null) {
				Toast.fire({
					icon : "warning",
					title : "제목을 입력해주세요."
				});
				document.getElementById("insertTitle").focus();
			}
			if (content == "" || content == null || content == '&nbsp;'
					|| content == '<br>' || content == '<br/>'
					|| content == '<p>&nbsp;</p>' || content == '<p></p>') {
				Toast.fire({
					icon : "warning",
					title : "템플릿을 정해주세요."
				});
				oEditors.getById["content"].exec("FOCUS"); //포커싱
				return;
			} else {
				insertForm.submit();
			}
		}
		
	</script>
</div>